body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00032c;
    padding: 15px;
    color: white;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    border-bottom: 1px solid white;
}

.navbar .logo h1 {
    margin: 0;
    font-size: 24px;
}

.navbar-middle a, .navbar-right a {
    color: rgb(204, 204, 204);
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.navbar-middle a:hover, .navbar-right a:hover {
    text-decoration: underline;
}

.navbar-right a {
    border: 1px solid rgb(207, 118, 118);
    padding: 8px 12px;
    border-radius: 4px;
}

.navbar-right a:hover {
    background-color: white;
    color: #333;
}

body {
    padding-top: 70px; 
}

@media ( (min-width:351px) and (max-width:576px))
{
   .navbar-middle{
    display: none;
   }

}