/* signup-login_style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#signupForm, #loginForm {
    background-color: rgb(243, 232, 232);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

input[type="submit"], button {
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover, button:hover {
    background-color: #0056b3;
}

#loginForm button {
    width: 100%;
    margin-top: 10px;
}
